{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}
{% block title %}Task Form{% endblock %}

{% block content %}
<h1>{{ action }}</h1>
    <form method="post">
    {% csrf_token %}
        <h1 class="my-4"> {{ header }}</h1>
        <div class = "form">
            {%  for field in form %}
                 {% bootstrap_field field %}
            {% endfor %}
                <div class = "form-group"> 
                     {% bootstrap_button button_action button_type="submit" button_class="mt-3 btn btn-primary" %}
                </div>
        </div>
    </form>
{% endblock %}