{% extends 'base.html' %}

{% block title %}Label List{% endblock %}

{% block content %}
<h1>Label List</h1>
<a href="{% url 'label_create' %}" class="btn btn-primary mb-3">Create New Label</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
        {% for label in labels %}
        <tr>
            <td>{{ label.id }}</td>
            <td>{{ label.name }}</td>
            <td>{{ label.created_at }}</td>
            <td>
                <a href="{% url 'label_update' label.id %}" class="btn btn-warning">Edit</a>
                <form action="{% url 'label_delete' label.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}