{% load django_bootstrap5 %}
{% load static %}
{% load i18n %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MySite{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body class="bg-light">
    <div class="container py-5">
        <div class="d-flex justify-content-left gap-3">
            <a href="{% url 'home' %}" class='btn btn-primary'>Менеджер задач</a>
            <a href="{% url 'user_list' %}" class="btn btn-secondary">Пользователи</a>
            {% if user.is_authenticated %}
                <a href="{% url 'status_list' %}" class="btn btn-success">Статусы</a>
                <a href="{% url 'label_list' %}" class="btn btn-success">Метки</a>
                <a href="{% url 'task_list' %}" class="btn btn-success">Задачи</a>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button class="btn btn-success" type="submit">Выход</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-success">Вход</a>
                <a href="{% url 'user_create' %}" class="btn btn-success">Регистрация</a>
            {% endif %}
        </div>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div style="margin: 20px;" class="alert alert-success alert-dismissible fade show" role="alert">{{ message }}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
                {% elif message.tags == 'error' %}
                    <div style="margin: 20px;" class="alert alert-danger alert-dismissible fade show" role="alert">{{ message }}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div style="margin: 20px;">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>

